In [ ]:
my_list = [1,2,3,4,5,6,7,8,9]
odd_nos = [num for num in my_list if num % 2 != 0]
  
print("odd numbers is : ", odd_nos)

odd numbers is :  [1, 3, 5, 7, 9]

In [ ]:

numlist = ['2','5','2','5','2','5','2','5','2']
numsum=0
for i in numlist:
    numsum+=int(i)
print('Sum of List: ',numsum)

Sum of List:  30

In [ ]:
a = [2,4,6,8,10]
a.reverse()
print('reversed list is:',a)
print('reversed list is:',a[::-1])

reversed list is: [10, 8, 6, 4, 2]
reversed list is: [2, 4, 6, 8, 10]

In [ ]:
list1 = [11,22,1,2,5,67,21,32]
new_list = set(list1)
new_list.remove(max(new_list))
print(max(new_list))

32

In [ ]:
string = 'ffftttmmm'
p =''
for i in string:
  if i not in p:
    p=p+i
print (p)

ftm

In [ ]:
ch = input("Enter a character: ")

if(character=='A' or character=='a' or ch=='E' or ch =='e' or ch=='I'
 or character=='i' or character=='O' or ch=='o' or ch=='U' or ch=='u'):
    print(character, "is a Vowel")
else:
    print(character, "is a Consonant")

Enter a character: a
a is a Vowel

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 5
120